This is a file to explore the data sets to:
- set goal of project 
- explore any issues with raw data 
- determine structure of data warehouse or data lake

In [30]:
import pandas as pd 
import numpy as np 
#import Disaster Data 1900 - 2021
pd_d = pd.read_csv('C:\\Users\\msbar\\Data Engineering Final Project\\data\\DISASTERS\\1900_2021_DISASTERS.csv')
pd_d.shape

(16126, 45)

In [31]:
pd_d.head()

,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,Country,...,No Affected,No Homeless,Total Affected,Insured Damages ('000 US$),Total Damages ('000 US$),CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1900,9002,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,Cabo Verde,...,NaN,NaN,NaN,NaN,NaN,3.221647,NaN,NaN,NaN,NaN
1,1900,9001,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,India,...,NaN,NaN,NaN,NaN,NaN,3.221647,NaN,NaN,NaN,NaN
2,1902,12,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,Guatemala,...,NaN,NaN,NaN,NaN,25000.0,3.350513,NaN,NaN,NaN,NaN
3,1902,3,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Guatemala,...,NaN,NaN,NaN,NaN,NaN,3.350513,NaN,NaN,NaN,NaN
4,1902,10,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Guatemala,...,NaN,NaN,NaN,NaN,NaN,3.350513,NaN,NaN,NaN,NaN

In [36]:
 #Find percentage of column that is null 
    na = pd_d.isna().sum()
 print(na/pd_d.shape[0])

Year                          0.000000
Seq                           0.000000
Glide                         0.901960
Disaster Group                0.000000
Disaster Subgroup             0.000000
Disaster Type                 0.000000
Disaster Subtype              0.192856
Disaster Subsubtype           0.933213
Event Name                    0.760573
Country                       0.000000
ISO                           0.000000
Region                        0.000000
Continent                     0.000000
Location                      0.111125
Origin                        0.764728
Associated Dis                0.792385
Associated Dis2               0.956158
OFDA Response                 0.894952
Appeal                        0.840692
Declaration                   0.798090
Aid Contribution              0.958018
Dis Mag Value                 0.693290
Dis Mag Scale                 0.073794
Latitude                      0.830770
Longitude                     0.830584
Local Time                    0.931601
River Basin                   0.920191
Start Year                    0.000000
Start Month                   0.023999
Start Day                     0.224978
End Year                      0.000000
End Month                     0.043904
End Day                       0.220513
Total Deaths                  0.292261
No Injured                    0.758465
No Affected                   0.428253
No Homeless                   0.849312
Total Affected                0.279611
Insured Damages ('000 US$)    0.932035
Total Damages ('000 US$)      0.674749
CPI                           0.019534
Adm Level                     0.512650
Admin1 Code                   0.715925
Admin2 Code                   0.753876
Geo Locations                 0.512650
dtype: float64

In [ ]:
pd_dn['Disaster Type'].value_counts()

In [38]:
#import Disaster Data 1900 - 2021
pd_dn = pd.read_csv('C:\\Users\\msbar\\Data Engineering Final Project\\data\\DISASTERS\\1970-2021_DISASTERS.csv')
pd_dn.shape

(14644, 47)

In [39]:
pd_dn.head()

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,No Homeless,Total Affected,Reconstruction Costs ('000 US$),Insured Damages ('000 US$),Total Damages ('000 US$),CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1970-0013-ARG,1970,13,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,25000.0,15.001282,NaN,NaN,NaN,NaN
1,1970-0109-AUS,1970,109,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,Ada,...,NaN,NaN,NaN,NaN,72475.0,15.001282,NaN,NaN,NaN,NaN
2,1970-0044-BEN,1970,44,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,200.0,15.001282,NaN,NaN,NaN,NaN
3,1970-0063-BGD,1970,63,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,...,NaN,3648000.0,NaN,NaN,86400.0,15.001282,NaN,NaN,NaN,NaN
4,1970-0026-BGD,1970,26,NaN,Natural,Meteorological,Storm,NaN,NaN,NaN,...,NaN,110.0,NaN,NaN,NaN,15.001282,NaN,NaN,NaN,NaN

In [43]:
#Find percentage of column that is null 
na = pd_dn.isna().sum()
print(na/pd_dn.shape[0])

Dis No                             0.000000
Year                               0.000000
Seq                                0.000000
Glide                              0.892038
Disaster Group                     0.000000
Disaster Subgroup                  0.000000
Disaster Type                      0.000000
Disaster Subtype                   0.187585
Disaster Subsubtype                0.928708
Event Name                         0.751093
Country                            0.000000
ISO                                0.000000
Region                             0.000000
Continent                          0.000000
Location                           0.091915
Origin                             0.741874
Associated Dis                     0.779295
Associated Dis2                    0.952335
OFDA Response                      0.900983
Appeal                             0.833379
Declaration                        0.786465
Aid Contribution                   0.953769
Dis Mag Value                      0.687995
Dis Mag Scale                      0.073272
Latitude                           0.840822
Longitude                          0.840549
Local Time                         0.947760
River Basin                        0.912251
Start Year                         0.000000
Start Month                        0.018301
Start Day                          0.209437
End Year                           0.000000
End Month                          0.037490
End Day                            0.204452
Total Deaths                       0.303537
No Injured                         0.750683
No Affected                        0.395930
No Homeless                        0.846422
Total Affected                     0.246039
Reconstruction Costs ('000 US$)    0.997883
Insured Damages ('000 US$)         0.925294
Total Damages ('000 US$)           0.667919
CPI                                0.021511
Adm Level                          0.463603
Admin1 Code                        0.687176
Admin2 Code                        0.729241
Geo Locations                      0.463603
dtype: float64

In [48]:
pd_dn['Disaster Type'].value_counts()

Flood                    5272
Storm                    4005
Epidemic                 1436
Earthquake               1137
Landslide                 713
Drought                   685
Extreme temperature       584
Wildfire                  452
Volcanic activity         222
Insect infestation         93
Mass movement (dry)        41
Glacial lake outburst       2
Impact                      1
Animal accident             1
Name: Disaster Type, dtype: int64